@inherits LayoutComponentBase
@using RP_CRM.Web.Components

<div class="app-wrapper">
    <div class="logo-item">
        <Logo/>
    </div>
    <div class="header-item">
        <Header/>
    </div>
    <div class="body-item">
        <Body/>
    </div>
</div>

