@page "/"
@using RP_CRM.Data
@inject IInMemoryCompaniesRepository CompaniesRepository

<h1>CRM система компании "Ромшка и Партнеры" для автматического управления делопроизводством</h1>


<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Contract Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var company in CompaniesRepository.GetAllCompanies())
    {
        <tr>
            <td>@company.Name</td>
            <td>@company.ContractStatus</td>
            <button onclick="ConcludeContract">Заключить договор</button>
        </tr>
    }
    </tbody>
</table>

@code
{

}
